<!DOCTYPE html>
<html lang="en">

<!-- insert header -->
<%- include("../partials/head.ejs") %>

<body>
    <p>Homepage</p>
    <!-- insert nav.ejs navbar -->
    <%- include("../partials/nav.ejs") %>

    <div class="blogs">
        <h2>All Blogs</h2>
        <!-- dynamic content using ejs -->
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%= blog._id %>">
                    <h3 class="title"><%= blog.title %></h3>
                    <p class="snippet"><%= blog.snippet %></p>
                </a>
            <% }) %>
        <% } else { %>
            <p>No blogs to display.</p>
        <% } %>
    </div>
</body>

<!-- insert footer -->
<%- include("../partials/footer.ejs") %>

</html>